server {
    listen       80;
    server_name  localhost;

    location /api/ {
        proxy_pass  http://api:8000;
    }

    location /admin/ {
        proxy_pass  http://api:8000;
    }

    location / {
        proxy_pass  http://frontend:3000;
    }
}
